html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0
}

html {
  background: #000000;
  font-family: Helvetica, sans-serif;
  color: #fff
}

.container {
  max-width: 1020px;
  margin: auto;
  height: 100%;
  background: #070707;
  padding: 16px;
  box-sizing:border-box;

}

.content {
  background:#33658A;
  padding: 16px;
  border-radius: 5px
}

.header {
  background:#000000;
  padding: 1px;
  border-radius: 5px;
  font-family: 'Century Gothic', sans-serif;

}

.header h1 {
  text-align: center;
  font-size: 5vw;
}

.content {
  margin-top:16px;
  margin-bottom:16px;
  min-height:calc(100% - 380px)
}

.main-greeter {
  background-color: darkgrey;
}

.main-greeter h1 {
  text-align: center;
  font-size: 5vw;
}

.footer {
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    max-width: 1020px;
    height: 1.5rem;
    font-family: 'Century Gothic', sans-serif;
}

.footer-icon-bar {
  width: 100%;
  background-color: #88AB75;
  overflow: auto;
  border-radius: 5px
}

.footer-icon-bar a {
  float: left; 
  text-align: center;
  width: 20%;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 24px;
}

.footer-icon-bar a:hover {
  background-color: #E71D36;
}
